<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home Page</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
      <div class="container mt-5 text-center align-center" style="font-size: larger">
            <h1>Welcome to the Post-Comments Service</h1>
            <p>This is a simple service where users can create posts and comment on them.</p>
            <a href="/posts" class="btn btn-primary">View All Posts</a>
      </div>
</body>

</html>